[submodule ".vim/bundle/vimerl"]
	path = .vim/bundle/vimerl
	url = git://github.com/jimenezrick/vimerl.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/vim-scala"]
	path = .vim/bundle/vim-scala
	url = git://github.com/derekwyatt/vim-scala.git
