[submodule ".vim/bundle/vimerl"]
	path = .vim/bundle/vimerl
	url = git://github.com/jimenezrick/vimerl.git
[submodule ".vim/bundle/vim-scala"]
	path = .vim/bundle/vim-scala
	url = git://github.com/derekwyatt/vim-scala.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/vimclojure"]
	path = .vim/bundle/vimclojure
  url = git://github.com/vim-scripts/VimClojure.git
  ignore = dirty
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
